<style>
    p{
      text-indent: 50px;
      font-size: 125%;
    }
    header {
    font-size: 150%;
    background-color:#25587E;
    color:#ffffff;
    text-align:center;
    padding:5px;
    }
    left {
    line-height:30px;
    height:1000px;
    width:335px;
    float:left;
    padding:5px; 
    background-color:#25587E;
    }
    section {
    text-align:center;
    font-size: 120%;
    width:1000px;
    float:none;
    color: black; 
    }
    right {
    line-height:30px;
    height:1000px;
    width:335px;
    float:right;
    padding:5px; 
    background-color:#25587E;
    }
    
</stle>
